{% extends "base.html" %}
{% block content %}
<div class="card">
  <h1>Hakkında</h1>
  <p>CashGuard TR; Savunma Sanayi KOBİ'lerinin nakit yönetimi problemlerini tespit ederek, nakitlerini koruyacak kararların verilmesinde yardımcı olan ucuz ve yetkin nakit koruyucunuzdur. Amacımız; “limit makyajı” değil, ölçülebilir göstergelerle doğru karar desteği sunmaktır. Biz sizin part-time CFO'nuz olacağız..</p>
  <hr>
  <h2>Neyi çözmeye çalışıyoruz?</h2>
  <ul class="list">
    <li>Vade/tahsilat gecikmelerini erken yakalamak</li>
    <li>Kısa vadeli borç baskısını görünür kılmak</li>
    <li>“Nakit tamponu” ile dayanıklılığı ölçmek
    <li>Nakitinizi Korumak</li>
  </ul>
</div>
{% endblock %}
